Title American Chemical Society
URL http://pubs.acs.org
HJ acs.org
HJ chemistry.org
HJ pubs3.acs.org
HJ www.pubs.acs.org
HJ www.acs.org
HJ www.chemisty.org
DJ acs.org
Find hostdev="pubsdev.acs.org"
Replace hostdev="^ppubsdev.acs.org^"
Find hosttest="pubstest.acs.org"
Replace hosttest="^ppubstest.acs.org^"
Find hostprod="pubs.acs.org"
Replace hostprod="^ppubs.acs.org^"
