Title EasyBib
URL http://www.easybib.com
HTTPHeader Access-Control-Allow-*
HTTPHeader Origin
MimeFilter application/json .* javascript
NeverProxy notebook.heroku.easybib.com/notebook.heroku.easybib.com>
H *.easybib.com/easybib.com>
DJ easybib.com/easybib.com>
Find http:\/\/
Replace http://
HTTPMethod put
HTTPMethod delete
HTTPMethod patch
HTTPMethod options
