Title Mango Languages
URL http://connect.mangolanguages.com/{$MangoInsitutionId}/start
HJ connect.mangolanguages.com
DJ connect.mangolanguages.com
HJ libraries.mangolanguages.com
DJ libraries.mangolanguages.com
DJ mangolanguages.com
