Title Symptom Media
URL -Form=post SymptomMedia http://symptommedia.com/wp-login.php
FormVariable log={$SymptomMediaUser}
FormVariable pwd={$SymptomMediaPass}
FormVariable wp-submit=Login
FormVariable wlm_redirect_to=wishlistmember